<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Quote Studio</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Quotes Studio to access your Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Quotes Studio to access your Photo Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Abel-Regular.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>Anton-Regular.ttf</string>
		<string>ArchivoBlack-Regular.ttf</string>
		<string>Arvo-Bold.ttf</string>
		<string>Arvo-BoldItalic.ttf</string>
		<string>Arvo-Italic.ttf</string>
		<string>Arvo-Regular.ttf</string>
		<string>BalooBhai-Regular.ttf</string>
		<string>BenchNine-Bold.ttf</string>
		<string>BenchNine-Light.ttf</string>
		<string>BenchNine-Regular.ttf</string>
		<string>Cardo-Bold.ttf</string>
		<string>Cardo-Italic.ttf</string>
		<string>Cardo-Regular.ttf</string>
		<string>Caveat-Bold.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Chivo-Black.ttf</string>
		<string>Chivo-BlackItalic.ttf</string>
		<string>Chivo-Bold.ttf</string>
		<string>Chivo-BoldItalic.ttf</string>
		<string>Chivo-Italic.ttf</string>
		<string>Chivo-Light.ttf</string>
		<string>Chivo-LightItalic.ttf</string>
		<string>Chivo-Regular.ttf</string>
		<string>Cookie-Regular.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>CormorantGaramond-BoldItalic.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-Light.ttf</string>
		<string>CormorantGaramond-LightItalic.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-MediumItalic.ttf</string>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-SemiBoldItalic.ttf</string>
		<string>CrimsonText-Bold.ttf</string>
		<string>CrimsonText-BoldItalic.ttf</string>
		<string>CrimsonText-Italic.ttf</string>
		<string>CrimsonText-Regular.ttf</string>
		<string>CrimsonText-SemiBold.ttf</string>
		<string>CrimsonText-SemiBoldItalic.ttf</string>
		<string>Cuprum-Bold.ttf</string>
		<string>Cuprum-BoldItalic.ttf</string>
		<string>Cuprum-Italic.ttf</string>
		<string>Cuprum-Regular.ttf</string>
		<string>CuteFont-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>Domine-Bold.ttf</string>
		<string>Domine-Regular.ttf</string>
		<string>Economica-Bold.ttf</string>
		<string>Economica-BoldItalic.ttf</string>
		<string>Economica-Italic.ttf</string>
		<string>Economica-Regular.ttf</string>
		<string>FiraSans-Black.ttf</string>
		<string>FiraSans-BlackItalic.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>FiraSans-ExtraBold.ttf</string>
		<string>FiraSans-ExtraBoldItalic.ttf</string>
		<string>FiraSans-ExtraLight.ttf</string>
		<string>FiraSans-ExtraLightItalic.ttf</string>
		<string>FiraSans-Italic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-LightItalic.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-MediumItalic.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>FiraSans-SemiBoldItalic.ttf</string>
		<string>FiraSans-Thin.ttf</string>
		<string>FiraSans-ThinItalic.ttf</string>
		<string>FredokaOne-Regular.ttf</string>
		<string>GloriaHallelujah.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>Gudea-Bold.ttf</string>
		<string>Gudea-Italic.ttf</string>
		<string>Gudea-Regular.ttf</string>
		<string>Handlee-Regular.ttf</string>
		<string>HindGuntur-Bold.ttf</string>
		<string>HindGuntur-Light.ttf</string>
		<string>HindGuntur-Medium.ttf</string>
		<string>HindGuntur-Regular.ttf</string>
		<string>HindGuntur-SemiBold.ttf</string>
		<string>JosefinSlab-Bold.ttf</string>
		<string>JosefinSlab-BoldItalic.ttf</string>
		<string>JosefinSlab-Italic.ttf</string>
		<string>JosefinSlab-Light.ttf</string>
		<string>JosefinSlab-LightItalic.ttf</string>
		<string>JosefinSlab-Regular.ttf</string>
		<string>JosefinSlab-SemiBold.ttf</string>
		<string>JosefinSlab-SemiBoldItalic.ttf</string>
		<string>JosefinSlab-Thin.ttf</string>
		<string>JosefinSlab-ThinItalic.ttf</string>
		<string>Kalam-Bold.ttf</string>
		<string>Kalam-Light.ttf</string>
		<string>Kalam-Regular.ttf</string>
		<string>Karla-Bold.ttf</string>
		<string>Karla-BoldItalic.ttf</string>
		<string>Karla-Italic.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>KaushanScript-Regular.ttf</string>
		<string>Kodchasan-Bold.ttf</string>
		<string>Kodchasan-BoldItalic.ttf</string>
		<string>Kodchasan-ExtraLight.ttf</string>
		<string>Kodchasan-ExtraLightItalic.ttf</string>
		<string>Kodchasan-Italic.ttf</string>
		<string>Kodchasan-Light.ttf</string>
		<string>Kodchasan-LightItalic.ttf</string>
		<string>Kodchasan-Medium.ttf</string>
		<string>Kodchasan-MediumItalic.ttf</string>
		<string>Kodchasan-Regular.ttf</string>
		<string>Kodchasan-SemiBold.ttf</string>
		<string>Kodchasan-SemiBoldItalic.ttf</string>
		<string>Lalezar-Regular.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lemonada-Bold.ttf</string>
		<string>Lemonada-Light.ttf</string>
		<string>Lemonada-Regular.ttf</string>
		<string>Lemonada-SemiBold.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>LobsterTwo-Bold.ttf</string>
		<string>LobsterTwo-BoldItalic.ttf</string>
		<string>LobsterTwo-Italic.ttf</string>
		<string>LobsterTwo-Regular.ttf</string>
		<string>LuckiestGuy-Regular.ttf</string>
		<string>MPLUS1p-Black.ttf</string>
		<string>MPLUS1p-Bold.ttf</string>
		<string>MPLUS1p-ExtraBold.ttf</string>
		<string>MPLUS1p-Light.ttf</string>
		<string>MPLUS1p-Medium.ttf</string>
		<string>MPLUS1p-Regular.ttf</string>
		<string>MPLUS1p-Thin.ttf</string>
		<string>MacondoSwashCaps-Regular.ttf</string>
		<string>MaidenOrange-Regular.ttf</string>
		<string>Merriweather-Black.ttf</string>
		<string>Merriweather-BlackItalic.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-BoldItalic.ttf</string>
		<string>Merriweather-Italic.ttf</string>
		<string>Merriweather-Light.ttf</string>
		<string>Merriweather-LightItalic.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Modak-Regular.ttf</string>
		<string>Monda-Bold.ttf</string>
		<string>Monda-Regular.ttf</string>
		<string>MontserratAlternates-Black.ttf</string>
		<string>MontserratAlternates-BlackItalic.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-BoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraBold.ttf</string>
		<string>MontserratAlternates-ExtraBoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraLight.ttf</string>
		<string>MontserratAlternates-ExtraLightItalic.ttf</string>
		<string>MontserratAlternates-Italic.ttf</string>
		<string>MontserratAlternates-Light.ttf</string>
		<string>MontserratAlternates-LightItalic.ttf</string>
		<string>MontserratAlternates-Medium.ttf</string>
		<string>MontserratAlternates-MediumItalic.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
		<string>MontserratAlternates-SemiBoldItalic.ttf</string>
		<string>MontserratAlternates-Thin.ttf</string>
		<string>MontserratAlternates-ThinItalic.ttf</string>
		<string>Mukta-Bold.ttf</string>
		<string>Mukta-ExtraBold.ttf</string>
		<string>Mukta-ExtraLight.ttf</string>
		<string>Mukta-Light.ttf</string>
		<string>Mukta-Medium.ttf</string>
		<string>Mukta-Regular.ttf</string>
		<string>Mukta-SemiBold.ttf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
		<string>NanumGothic-Bold.ttf</string>
		<string>NanumGothic-ExtraBold.ttf</string>
		<string>NanumGothic-Regular.ttf</string>
		<string>Neucha.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSansJP-Black.otf</string>
		<string>NotoSansJP-Bold.otf</string>
		<string>NotoSansJP-Light.otf</string>
		<string>NotoSansJP-Medium.otf</string>
		<string>NotoSansJP-Regular.otf</string>
		<string>NotoSansJP-Thin.otf</string>
		<string>NotoSerif-Bold.ttf</string>
		<string>NotoSerif-BoldItalic.ttf</string>
		<string>NotoSerif-Italic.ttf</string>
		<string>NotoSerif-Regular.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>NunitoSans-Black.ttf</string>
		<string>NunitoSans-BlackItalic.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-BoldItalic.ttf</string>
		<string>NunitoSans-ExtraBold.ttf</string>
		<string>NunitoSans-ExtraBoldItalic.ttf</string>
		<string>NunitoSans-ExtraLight.ttf</string>
		<string>NunitoSans-ExtraLightItalic.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-LightItalic.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-SemiBoldItalic.ttf</string>
		<string>OldStandard-Bold.ttf</string>
		<string>OldStandard-Italic.ttf</string>
		<string>OldStandard-Regular.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-SemiBold.ttf</string>
		<string>Oxygen-Bold.ttf</string>
		<string>Oxygen-Light.ttf</string>
		<string>Oxygen-Regular.ttf</string>
		<string>PT_Sans-Narrow-Web-Bold.ttf</string>
		<string>PT_Sans-Narrow-Web-Regular.ttf</string>
		<string>PT_Sans-Web-Bold.ttf</string>
		<string>PT_Sans-Web-BoldItalic.ttf</string>
		<string>PT_Sans-Web-Italic.ttf</string>
		<string>PT_Sans-Web-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>PassionOne-Black.ttf</string>
		<string>PassionOne-Bold.ttf</string>
		<string>PassionOne-Regular.ttf</string>
		<string>PathwayGothicOne-Regular.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Playball-Regular.ttf</string>
		<string>PoiretOne-Regular.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-BoldItalic.ttf</string>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-LightItalic.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-MediumItalic.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
		<string>RobotoMono-ThinItalic.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>RussoOne-Regular.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>Sanchez-Italic.ttf</string>
		<string>Sanchez-Regular.ttf</string>
		<string>Satisfy-Regular.ttf</string>
		<string>Slabo27px-Regular.ttf</string>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-BlackItalic.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-BoldItalic.ttf</string>
		<string>SourceSansPro-ExtraLight.ttf</string>
		<string>SourceSansPro-ExtraLightItalic.ttf</string>
		<string>SourceSansPro-Italic.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-LightItalic.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>SourceSansPro-SemiBoldItalic.ttf</string>
		<string>SpecialElite-Regular.ttf</string>
		<string>Stylish-Regular.ttf</string>
		<string>Tangerine-Bold.ttf</string>
		<string>Tangerine-Regular.ttf</string>
		<string>Tinos-Bold.ttf</string>
		<string>Tinos-BoldItalic.ttf</string>
		<string>Tinos-Italic.ttf</string>
		<string>Tinos-Regular.ttf</string>
		<string>TitilliumWeb-Black.ttf</string>
		<string>TitilliumWeb-Bold.ttf</string>
		<string>TitilliumWeb-BoldItalic.ttf</string>
		<string>TitilliumWeb-ExtraLight.ttf</string>
		<string>TitilliumWeb-ExtraLightItalic.ttf</string>
		<string>TitilliumWeb-Italic.ttf</string>
		<string>TitilliumWeb-Light.ttf</string>
		<string>TitilliumWeb-LightItalic.ttf</string>
		<string>TitilliumWeb-Regular.ttf</string>
		<string>TitilliumWeb-SemiBold.ttf</string>
		<string>TitilliumWeb-SemiBoldItalic.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Viga-Regular.ttf</string>
		<string>Volkhov-Bold.ttf</string>
		<string>Volkhov-BoldItalic.ttf</string>
		<string>Volkhov-Italic.ttf</string>
		<string>Volkhov-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>iPadMain</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
