name: Swift

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run Tests
      run: xcodebuild -project 'QuotesMaker.xcodeproj' -scheme 'QuotesMaker' -destination 'platform=iOS Simulator,name=iPhone 8' test
    - name: Build App
      run: xcodebuild -project 'QuotesMaker.xcodeproj' -scheme 'QuotesMaker' -destination 'generic/platform=iOS' -configuration Release build CODE_SIGNING_ALLOWED=NO
